.sidepanel {
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    top: 230px;
    left: 50px;
    align-items: center;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: black;
    }
    &__text {
        width: 25px;
        height: 150px;
        font-weight: bold;
        font-size: 16px;
        span {
            transform: rotate(-90deg) translate(-34%, calc(-260% - 2px));
            display: block;
            width: 150px;
        }
    }
}